@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

html, body {
	width: 100%;
	height: 100%;
	font-family: "Roboto", Arial, sans-serif;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
	padding: 0;
}

td {
	vertical-align:top;
}

#map {
	height: 100%;
	width: 80%;
	display:inline-block;
	float:left;
}

#rail {

}

.intro {
	padding:15px;
	border-bottom: 1px solid #222;
	  box-shadow: 0px 1px 8px black;
	  z-index: 99;
	  display: block;
	  position: relative;
	color: rgba(255,255,255, .8);
}

	.intro h2 {
		color: white;
	}
	
.portrait {
	background-color: seagreen;
	border-radius: 50%;
	width: 100%;
	height:100%;
	overflow: hidden;
}

	.portrait img {
		width:100%;
		height:100%;
	}
	
.leaflet-div-icon {
	background:none;
	border:none;
	
}

	.leaflet-div-icon .circle{
		width:30px;
		height:30px;
		border-radius: 50%;
		background-color: seagreen;
		position:relative;
		top:-15px;
		left:-15px;
		overflow:hidden;
		position: relative;
	}
		
		.leaflet-div-icon .circle .box{
			height:100%;
			float:left;
		}
		
		.leaflet-div-icon .circle .number {
			color:white;
			height: 100%;
			width: 100%;
			position:absolute;
			line-height:100%;
			text-align:center;
			line-height: 30px;
			font-size: 14pt;
			font-weight:400;
		}

#rail {
	width:20%;
	height:100%;
	min-width: 300px;
	float:left;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #444;
	color: rgba(255,255,255,.95);
	position:relative;
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);
  	z-index: 3;

}

#rail .total {
	text-align: center;
  font-size: 14pt;
  padding: 20px 10px 10px;
  font-weight: 900;
  background-color: #333;
  box-shadow: 0px 2px 1px #222;
  z-index: 10;
  position: relative;
}

#rail ul.events {
	margin: 0;
	list-style: none;
	padding: 0;
}

	#rail ul.events > li {
		padding: 0;
		margin: 0;
		border-bottom: 1px solid rgba(255,255,255,.2);
		transition: .25s background-color;
	}
		
		#rail ul.events > li:hover {
			background-color: #555;
			color:white;
			cursor:pointer;
		}
					
		#rail ul.events > li.selected {
			background-color: #333;
		}
		
		
		#rail ul.events li h3 {
			font-weight: 500;
			font-size:16pt;
			
		}
	
		#rail ul.events li table {
			border: 0; 
			padding: 0;
			margin: 0;
			border-collapse: collapse;
		}
	
			#rail ul.events li table tr {

			}
			
				#rail ul.events li table tr td {
					vertical-align: top;
				}
				
					#rail ul.events li > table > tbody > tr > td:last-child {
						padding: 10px 0px 10px 10px;
					}

	#rail table.stats td {
		padding-bottom:5px;
		font-weight: 300;
		
	}
	
	#rail table.stats .fa {
		opacity: .5;
		transition: opacity .25s;
	}
	
		#rail ul.events li:hover table.stats .fa {
			opacity:.65;
		}
		
		#rail ul.events li.selected table.stats .fa {
			opacity:.8;
		}
		
			#rail table.stats .fa-map-marker {
			margin-left: 2px;
			font-size:14pt
		}

	#rail table.stats td:first-child {
		padding-right: 10px;
	}
	
	.stats ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
		.stats ul li {
			margin-bottom: 3px;
		}
		
.search, .searchButton {
	position:absolute;
	top: 10px;
	right: 10px;
	z-index:4;
	background-color: rgba(0,0,0,.7);
	padding: 10px;
	border-radius: 5px;
	color: rgba(255,255,255,.7);
}
	.searchButton {
		color: rgba(255,255,255,.7);
		padding:10px 15px;
		font-size:15pt;
		cursor:pointer;
	}
		.searchButton:hover {
			color: rgba(255,255,255, .9);
		}

	
	.search label {
		padding: 4px;
		color: rgba(255,255,255,.7);
		position: relative;
		top: 1px;
	}
	
	.search td:first-child {
		padding:0 5px 7px 0;
	}

	.search input {
		font-family: Roboto, sans-serif;
		border: 0;
		  background-color: rgba(255,255,255,.9);
		  color: black;
		border-radius:3px;
		padding: 0px 4px;
	}
		.search input:focus {
			background-color: rgba(255,255,255,.95);
		}

	.search select {
		width:100%;
		background-color: rgba(255,255,255,.9);
		border-radius:3px;
	}

	.search button {
		float: right;
		border: 0;
		border-radius: 3px;
		padding: 4px 9px;
		border: 1px solid #888;
	}
	
		.search button.hide {
			color: #ddd;
			background-color:rgba(0,0,0,0);
			margin-right: 5px;
		}
		
		.search button:hover {
			cursor:pointer;
			background-color:rgba(255,255,255,.8);
		}
		
		.search button.hide:hover {
			background-color:rgba(255,255,255,.0);
		}
	
	.search .fa {
		font-size: 11pt;
	  	position: relative;
	  	top: 2px;
	  	margin-right: 3px;
	}
	
		.search .fa.fa-map-marker {
			font-size: 13pt;
			padding-left: 2px;
		}
		}